.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid #e6e6e6;
  background: rgba(255, 255, 255, 1);

  &__content {
    display: flex;
    align-items: center;
    height: 62px;
  }

  &__left-side {
    display: flex;
    align-items: center;
  }
}
